In [2]:
import pandas as pd 
import numpy as np

# Inflation data

In [3]:
df_inflation = pd.read_excel("API_FP.CPI.TOTL.ZG_DS2_en_excel_v2_85.xls", index_col = 1, header = 3)

In [4]:
df_inflation.drop(columns = ['Country Name', 'Indicator Name', 'Indicator Code'], inplace = True)
df_inflation

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720805,4.653665,5.405162,7.240978,10.773751,7.126975
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.768436,2.130817,1.487416,1.725486,1.784050,1.983092,2.490378,3.745700,7.949251,4.953050
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.280387,9.355972,30.694415,29.844480,19.628938,17.080954,22.271539,25.754295,21.355290,13.644102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,4.944324
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,1.986136,3.238225,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,6.073909
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,10.884532
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN

In [5]:
df_inflation.shape

(266, 64)

In [6]:
"""
df_inflation.dropna(how = 'all', axis = 0, inplace = True)
df_inflation.dropna(how = 'all', axis = 1, inplace = True)
"""

"\ndf_inflation.dropna(how = 'all', axis = 0, inplace = True)\ndf_inflation.dropna(how = 'all', axis = 1, inplace = True)\n"

In [7]:
df_inflation.shape

(266, 64)

In [8]:
empty_rows = df_inflation.index[df_inflation.isnull().all(axis = 1)]
empty_rows

Index(['AND', 'ARG', 'ASM', 'BMU', 'CHI', 'CUB', 'ERI', 'FRO', 'GIB', 'GRL',
       'GUM', 'IMN', 'INX', 'LIE', 'MAF', 'MCO', 'MHL', 'MNP', 'PRI', 'PRK',
       'PYF', 'SOM', 'TCA', 'TKM', 'VGB', 'VIR'],
      dtype='object', name='Country Code')

In [9]:
empty_rows_inflation = empty_rows.tolist()
empty_rows_inflation

['AND',
 'ARG',
 'ASM',
 'BMU',
 'CHI',
 'CUB',
 'ERI',
 'FRO',
 'GIB',
 'GRL',
 'GUM',
 'IMN',
 'INX',
 'LIE',
 'MAF',
 'MCO',
 'MHL',
 'MNP',
 'PRI',
 'PRK',
 'PYF',
 'SOM',
 'TCA',
 'TKM',
 'VGB',
 'VIR']

In [10]:
empty_columns = df_inflation.columns[df_inflation.isnull().all(axis = 0)]
empty_columns

Index([], dtype='object')

# GDP data

In [11]:
df_gdp = pd.read_excel("API_NY.GDP.MKTP.CD_DS2_en_excel_v2_117.xls", index_col = 1, header = 3)

In [12]:
df_gdp.drop(columns = ['Country Name', 'Indicator Name', 'Indicator Code'], inplace = True)
df_gdp

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
AFE,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,3.693497e+10,3.845217e+10,4.175072e+10,4.705830e+10,...,9.787083e+11,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
AFW,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,1.803417e+10,1.649375e+10,1.702281e+10,1.930143e+10,...,8.974157e+11,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,1.712479e+10,1.925699e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11
ZMB,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,1.239000e+09,1.340639e+09,1.573739e+09,1.926399e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [13]:
df_gdp.shape

(266, 64)

In [14]:
"""
df_gdp.dropna(how = 'all', axis = 0, inplace = True)
df_gdp.dropna(how = 'all', axis = 1, inplace = True)
"""

"\ndf_gdp.dropna(how = 'all', axis = 0, inplace = True)\ndf_gdp.dropna(how = 'all', axis = 1, inplace = True)\n"

In [15]:
empty_rows =df_gdp.index[df_gdp.isnull().all(axis = 1)]
empty_rows

Index(['GIB', 'INX', 'PRK', 'VGB'], dtype='object', name='Country Code')

In [16]:
empty_rows_gdp = empty_rows.tolist()
empty_rows_gdp

['GIB', 'INX', 'PRK', 'VGB']

In [17]:
empty_columns = df_gdp.columns[df_gdp.isnull().all(axis = 0)]
empty_columns

Index([], dtype='object')

# population data

In [18]:
df_population = pd.read_excel("API_SP.POP.TOTL_DS2_en_excel_v2_9.xls", index_col = 1, header = 3, engine = 'xlrd')

In [19]:
print("INX in original data:", 'INX' in df_population.index)

INX in original data: True

In [20]:
df_population.drop(columns = ['Country Name', 'Indicator Name', 'Indicator Code'], inplace = True)
df_population

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,58694.0,58990.0,59069.0,59052.0,...,106807.0,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0
AFE,130072080.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,153281203.0,157704381.0,162329396.0,167088245.0,...,590968990.0,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0
AFG,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,10266395.0,10505959.0,10756922.0,11017409.0,...,32792523.0,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0
AFW,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,111246953.0,113795019.0,116444636.0,119203521.0,...,406992047.0,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0
AGO,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,5581386.0,5641807.0,5702699.0,5763685.0,...,27160769.0,28157798.0,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,1152586.0,1187667.0,1214208.0,1231460.0,...,1812788.0,1788274.0,1777568.0,1791019.0,1797086.0,1788891.0,1790152.0,1786080.0,1768096.0,1756366.0
YEM,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,6351494.0,6516444.0,6690524.0,6875859.0,...,30226309.0,31159379.0,32109010.0,33090921.0,34085182.0,35111408.0,36134863.0,37140230.0,38222876.0,39390799.0
ZAF,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,19690087.0,20314066.0,20957287.0,21614676.0,...,55594838.0,56723537.0,57259551.0,57635162.0,58613001.0,59587885.0,60562381.0,61502603.0,62378410.0,63212384.0
ZMB,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,3812003.0,3936343.0,4065593.0,4197116.0,...,15895315.0,16399089.0,16914423.0,17441320.0,17973569.0,18513839.0,19059395.0,19603607.0,20152938.0,20723965.0
ZWE,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,4601217.0,4748307.0,4900440.0,5058181.0,...,14207359.0,14399013.0,14600294.0,14812482.0,15034452.0,15271368.0,15526888.0,15797210.0,16069056.0,16340822.0

In [21]:
df_population.shape

(266, 64)

In [22]:
"""
df_population.dropna(how = 'all', axis = 0, inplace = True)
df_population.dropna(how = 'all', axis = 1, inplace = True)
"""

"\ndf_population.dropna(how = 'all', axis = 0, inplace = True)\ndf_population.dropna(how = 'all', axis = 1, inplace = True)\n"

In [23]:
empty_rows = df_population.index[df_population.isnull().all(axis = 1)]
empty_rows

Index(['INX'], dtype='object', name='Country Code')

In [24]:
empty_rows_population = empty_rows.tolist()
empty_rows_population

['INX']

In [25]:
empty_columns = df_population.columns[df_population.isnull().all(axis = 0)]
empty_columns

Index([], dtype='object')

# Export data

In [26]:
df_export = pd.read_excel("API_TX.VAL.MRCH.XD.WD_DS2_en_excel_v2_2123.xls", index_col = 1, header = 3)

In [27]:
df_export.drop(columns = ['Country Name', 'Indicator Name', 'Indicator Code'], inplace = True)
df_export

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.546100,100.0,86.154733,40.829327,58.871278,39.603537,26.486888,38.739023,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.830069,100.0,104.383931,126.530219,153.166318,151.177011,135.934582,181.482486,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,178.323944,100.0,83.146354,104.316685,122.834173,104.654545,63.100433,101.206589,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,474.031593,100.0,80.610680,81.983611,111.795833,127.878743,79.237749,129.840073,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.865354,100.0,94.089523,109.808105,116.009505,111.127614,105.964955,152.553728,NaN,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146.737047,100.0,96.456128,121.092442,136.748487,106.669775,118.385504,168.638360,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.029948,100.0,102.661147,107.151887,124.909506,131.425343,135.325610,185.806800,NaN,NaN

In [28]:
df_export.shape

(266, 64)

In [29]:
"""
df_export.dropna(how = 'all', axis = 0, inplace = True)
df_export.dropna(how = 'all', axis = 1, inplace = True)
"""

"\ndf_export.dropna(how = 'all', axis = 0, inplace = True)\ndf_export.dropna(how = 'all', axis = 1, inplace = True)\n"

In [30]:
df_export.shape

(266, 64)

In [31]:
empty_rows = df_export.index[df_export.isnull().all(axis = 1)]
empty_rows

Index(['AFE', 'AFW', 'ARB', 'CEB', 'CHE', 'CHI', 'CSS', 'EAP', 'EAR', 'EAS',
       'ECA', 'ECS', 'EMU', 'EUU', 'FCS', 'HIC', 'HPC', 'IBD', 'IBT', 'IDA',
       'IDB', 'IDX', 'IMN', 'INX', 'LAC', 'LCN', 'LDC', 'LIC', 'LIE', 'LMC',
       'LMY', 'LTE', 'MAF', 'MCO', 'MEA', 'MIC', 'MNA', 'MNE', 'NAC', 'OED',
       'OSS', 'PRE', 'PRI', 'PSS', 'PST', 'SAS', 'SMR', 'SSA', 'SSD', 'SSF',
       'SST', 'SXM', 'TEA', 'TEC', 'TLA', 'TLS', 'TMN', 'TSA', 'TSS', 'TUV',
       'UMC', 'VIR', 'WLD', 'XKX'],
      dtype='object', name='Country Code')

In [32]:
empty_rows_export = empty_rows.tolist()
len(empty_rows_export)

64

In [33]:
empty_columns = df_export.columns[df_export.isnull().all(axis = 0)]
empty_columns

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '2022', '2023'],
      dtype='object')

In [34]:
empty_columns_export = empty_columns.tolist()
empty_columns_export

['1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '2022',
 '2023']

# Import data

In [35]:
df_import = pd.read_excel("API_TM.VAL.MRCH.XD.WD_DS2_en_excel_v2_2007.xls", index_col = 1, header = 3)

In [36]:
df_import.drop(columns = ['Country Name', 'Indicator Name', 'Indicator Code'], inplace = True)
df_import

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107.952792,100.0,91.037443,89.893001,98.525581,96.416801,68.858941,84.232852,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.081625,100.0,84.607720,91.481594,95.903528,87.749578,84.653030,72.175287,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,138.118737,100.0,63.020261,69.895939,76.345626,68.271271,46.118753,57.000492,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.202575,100.0,46.863288,46.986706,50.389642,71.814440,71.287345,79.178870,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.529605,100.0,87.616535,97.060966,108.904960,102.760251,80.325706,108.922460,NaN,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.324944,100.0,91.863081,100.662511,119.292364,90.486725,67.076245,89.424978,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.280609,100.0,88.150626,83.660837,105.579357,79.585840,82.633621,118.756526,NaN,NaN

In [37]:
df_import.shape

(266, 64)

In [38]:
"""
df_import.dropna(how = 'all', axis = 0, inplace = True)
df_import.dropna(how = 'all', axis = 1, inplace = True)
"""

"\ndf_import.dropna(how = 'all', axis = 0, inplace = True)\ndf_import.dropna(how = 'all', axis = 1, inplace = True)\n"

In [39]:
df_import.shape

(266, 64)

In [40]:
empty_rows = df_import.index[df_import.isnull().all(axis = 1)]
empty_rows

Index(['AFE', 'AFW', 'ARB', 'CEB', 'CHE', 'CHI', 'CSS', 'EAP', 'EAR', 'EAS',
       'ECA', 'ECS', 'EMU', 'EUU', 'FCS', 'HIC', 'HPC', 'IBD', 'IBT', 'IDA',
       'IDB', 'IDX', 'IMN', 'INX', 'LAC', 'LCN', 'LDC', 'LIC', 'LIE', 'LMC',
       'LMY', 'LTE', 'MAF', 'MCO', 'MEA', 'MIC', 'MNA', 'MNE', 'NAC', 'OED',
       'OSS', 'PRE', 'PRI', 'PSS', 'PST', 'SAS', 'SMR', 'SSA', 'SSD', 'SSF',
       'SST', 'SXM', 'TEA', 'TEC', 'TLA', 'TLS', 'TMN', 'TSA', 'TSS', 'TUV',
       'UMC', 'VIR', 'WLD', 'XKX'],
      dtype='object', name='Country Code')

In [41]:
empty_rows_import = empty_rows.tolist()
len(empty_rows_import)

64

In [42]:
empty_columns = df_import.columns[df_import.isnull().all(axis = 0)]
empty_columns

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '2022', '2023'],
      dtype='object')

In [43]:
empty_columns_import = empty_columns.tolist()
empty_columns_import

['1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '2022',
 '2023']

In [44]:
all_empty_columns = set(empty_columns_import) | set(empty_columns_export) | set(empty_columns)
all_empty_columns

{'1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '2022',
 '2023'}

In [45]:
all_empty_rows = set(empty_rows_export) | set(empty_rows_import) | set(empty_rows_gdp) | set(empty_rows_inflation) |  set(empty_rows_population)
all_empty_rows

{'AFE',
 'AFW',
 'AND',
 'ARB',
 'ARG',
 'ASM',
 'BMU',
 'CEB',
 'CHE',
 'CHI',
 'CSS',
 'CUB',
 'EAP',
 'EAR',
 'EAS',
 'ECA',
 'ECS',
 'EMU',
 'ERI',
 'EUU',
 'FCS',
 'FRO',
 'GIB',
 'GRL',
 'GUM',
 'HIC',
 'HPC',
 'IBD',
 'IBT',
 'IDA',
 'IDB',
 'IDX',
 'IMN',
 'INX',
 'LAC',
 'LCN',
 'LDC',
 'LIC',
 'LIE',
 'LMC',
 'LMY',
 'LTE',
 'MAF',
 'MCO',
 'MEA',
 'MHL',
 'MIC',
 'MNA',
 'MNE',
 'MNP',
 'NAC',
 'OED',
 'OSS',
 'PRE',
 'PRI',
 'PRK',
 'PSS',
 'PST',
 'PYF',
 'SAS',
 'SMR',
 'SOM',
 'SSA',
 'SSD',
 'SSF',
 'SST',
 'SXM',
 'TCA',
 'TEA',
 'TEC',
 'TKM',
 'TLA',
 'TLS',
 'TMN',
 'TSA',
 'TSS',
 'TUV',
 'UMC',
 'VGB',
 'VIR',
 'WLD',
 'XKX'}

# Reshape df_inflation : Melt to "Country", "Year", and "Value" format

In [46]:
df_inflation

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720805,4.653665,5.405162,7.240978,10.773751,7.126975
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.768436,2.130817,1.487416,1.725486,1.784050,1.983092,2.490378,3.745700,7.949251,4.953050
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.280387,9.355972,30.694415,29.844480,19.628938,17.080954,22.271539,25.754295,21.355290,13.644102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,4.944324
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,1.986136,3.238225,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,6.073909
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,10.884532
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN

In [47]:
df_inflation_long = df_inflation.reset_index().melt(
    id_vars=["Country Code"], 
    var_name="Year",  
    value_name="Inflation" 
)

In [48]:
df_inflation_long

      Country Code  Year  Inflation
0              ABW  1960        NaN
1              AFE  1960        NaN
2              AFG  1960        NaN
3              AFW  1960        NaN
4              AGO  1960        NaN
...            ...   ...        ...
17019          XKX  2023   4.944324
17020          YEM  2023        NaN
17021          ZAF  2023   6.073909
17022          ZMB  2023  10.884532
17023          ZWE  2023        NaN

[17024 rows x 3 columns]

In [49]:
df_inflation_long = df_inflation_long.sort_values(by=["Country Code", "Year"])

In [50]:
df_inflation_long.set_index(['Country Code', 'Year'], inplace = True)

In [51]:
df_inflation_long

                    Inflation
Country Code Year
ABW          1960         NaN
             1961         NaN
             1962         NaN
             1963         NaN
             1964         NaN
...                       ...
ZWE          2019  255.304991
             2020  557.201817
             2021   98.546105
             2022  104.705171
             2023         NaN

[17024 rows x 1 columns]

In [52]:
df_inflation_long.loc[("ABW", '2020')]

Inflation   NaN
Name: (ABW, 2020), dtype: float64

In [53]:
df_inflation_long.to_csv("inflation_preprocessed.csv")

# Reshape df_population : Melt to "Country", "Year", and "Value" format

In [54]:
df_population

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,58694.0,58990.0,59069.0,59052.0,...,106807.0,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0
AFE,130072080.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,153281203.0,157704381.0,162329396.0,167088245.0,...,590968990.0,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0
AFG,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,10266395.0,10505959.0,10756922.0,11017409.0,...,32792523.0,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0
AFW,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,111246953.0,113795019.0,116444636.0,119203521.0,...,406992047.0,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0
AGO,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,5581386.0,5641807.0,5702699.0,5763685.0,...,27160769.0,28157798.0,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,1152586.0,1187667.0,1214208.0,1231460.0,...,1812788.0,1788274.0,1777568.0,1791019.0,1797086.0,1788891.0,1790152.0,1786080.0,1768096.0,1756366.0
YEM,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,6351494.0,6516444.0,6690524.0,6875859.0,...,30226309.0,31159379.0,32109010.0,33090921.0,34085182.0,35111408.0,36134863.0,37140230.0,38222876.0,39390799.0
ZAF,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,19690087.0,20314066.0,20957287.0,21614676.0,...,55594838.0,56723537.0,57259551.0,57635162.0,58613001.0,59587885.0,60562381.0,61502603.0,62378410.0,63212384.0
ZMB,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,3812003.0,3936343.0,4065593.0,4197116.0,...,15895315.0,16399089.0,16914423.0,17441320.0,17973569.0,18513839.0,19059395.0,19603607.0,20152938.0,20723965.0
ZWE,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,4601217.0,4748307.0,4900440.0,5058181.0,...,14207359.0,14399013.0,14600294.0,14812482.0,15034452.0,15271368.0,15526888.0,15797210.0,16069056.0,16340822.0

In [55]:
df_population_long = df_population.reset_index().melt(
    id_vars=["Country Code"], 
    var_name="Year",  
    value_name="Population" 
)

In [56]:
df_population_long

      Country Code  Year   Population
0              ABW  1960      54922.0
1              AFE  1960  130072080.0
2              AFG  1960    9035043.0
3              AFW  1960   97630925.0
4              AGO  1960    5231654.0
...            ...   ...          ...
17019          XKX  2023    1756366.0
17020          YEM  2023   39390799.0
17021          ZAF  2023   63212384.0
17022          ZMB  2023   20723965.0
17023          ZWE  2023   16340822.0

[17024 rows x 3 columns]

In [57]:
df_population_long = df_population_long.sort_values(by=["Country Code", "Year"])

In [58]:
df_population_long.set_index(['Country Code', 'Year'], inplace = True)
df_population_long

                   Population
Country Code Year
ABW          1960     54922.0
             1961     55578.0
             1962     56320.0
             1963     57002.0
             1964     57619.0
...                       ...
ZWE          2019  15271368.0
             2020  15526888.0
             2021  15797210.0
             2022  16069056.0
             2023  16340822.0

[17024 rows x 1 columns]

In [59]:
df_population_long.head(30)

                   Population
Country Code Year
ABW          1960     54922.0
             1961     55578.0
             1962     56320.0
             1963     57002.0
             1964     57619.0
             1965     58190.0
             1966     58694.0
             1967     58990.0
             1968     59069.0
             1969     59052.0
             1970     58950.0
             1971     58781.0
             1972     58047.0
             1973     58299.0
             1974     58349.0
             1975     58295.0
             1976     58368.0
             1977     58580.0
             1978     58776.0
             1979     59191.0
             1980     59909.0
             1981     60563.0
             1982     61276.0
             1983     62228.0
             1984     62901.0
             1985     61728.0
             1986     59931.0
             1987     59159.0
             1988     59331.0
             1989     60443.0

In [60]:
df_population_long.to_csv("population_preprocessed.csv")

# Reshape df_gdp : Melt to "Country", "Year", and "Value" format

In [61]:
df_gdp

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
AFE,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,3.693497e+10,3.845217e+10,4.175072e+10,4.705830e+10,...,9.787083e+11,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
AFW,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,1.803417e+10,1.649375e+10,1.702281e+10,1.930143e+10,...,8.974157e+11,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,1.712479e+10,1.925699e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11
ZMB,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,1.239000e+09,1.340639e+09,1.573739e+09,1.926399e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [62]:
df_gdp_long = df_gdp.reset_index().melt(
    id_vars = ['Country Code'],
    var_name = 'Year',
    value_name = 'GDP')

In [63]:
df_gdp_long.head(5)

  Country Code  Year           GDP
0          ABW  1960           NaN
1          AFE  1960  2.421063e+10
2          AFG  1960           NaN
3          AFW  1960  1.190495e+10
4          AGO  1960           NaN

In [64]:
df_gdp_long.sort_values(by = ['Country Code', 'Year'], inplace = True)

In [65]:
df_gdp_long.set_index(['Country Code', 'Year'], inplace = True)

In [66]:
df_gdp_long

                            GDP
Country Code Year
ABW          1960           NaN
             1961           NaN
             1962           NaN
             1963           NaN
             1964           NaN
...                         ...
ZWE          2019  2.571741e+10
             2020  2.686794e+10
             2021  2.724052e+10
             2022  3.278975e+10
             2023  3.523137e+10

[17024 rows x 1 columns]

In [67]:
df_gdp_long.to_csv("gdp_preprocessed.csv")

# Reshape df_export : Melt to "Country", "Year", and "Value" format

In [68]:
df_export_long = df_export.reset_index().melt(
    id_vars = ['Country Code'],
    var_name = 'Year',
    value_name = 'Export')

In [69]:
df_export_long.sort_values(by = ['Country Code', 'Year'], inplace = True)

In [70]:
df_export_long.set_index(['Country Code', 'Year'], inplace = True)

In [71]:
df_export_long

                       Export
Country Code Year
ABW          1960         NaN
             1961         NaN
             1962         NaN
             1963         NaN
             1964         NaN
...                       ...
ZWE          2019  131.425343
             2020  135.325610
             2021  185.806800
             2022         NaN
             2023         NaN

[17024 rows x 1 columns]

In [72]:
df_export_long.to_csv('export_preprocessed.csv')

# Reshape df_Import : Melt to "Country", "Year", and "Value" format

In [73]:
df_import_long = df_import.reset_index().melt(
    id_vars = ['Country Code'],
    var_name = 'Year',
    value_name = 'Import')

In [74]:
df_import_long.sort_values(by = ['Country Code', 'Year'], inplace = True)

In [75]:
df_import_long.set_index(['Country Code', 'Year'], inplace = True)

In [76]:
df_import_long

                       Import
Country Code Year
ABW          1960         NaN
             1961         NaN
             1962         NaN
             1963         NaN
             1964         NaN
...                       ...
ZWE          2019   79.585840
             2020   82.633621
             2021  118.756526
             2022         NaN
             2023         NaN

[17024 rows x 1 columns]

In [77]:
df_import_long.to_csv('import_preprocessed.csv')